:root{
  /* Var de couleur */
  --light-grey: rgba(248,249,250);
  --light-grey2: #ececec;
  --grey: rgba(0,0,0,.55);
  --dark-grey: rgba(0,0,0,.7);
  --blue: #0d6efd;
  --success: #32de84;
  --danger:#dc3545;


  /* Var de composant */
  /* menu */
  --main-menu-bg: var(--light-grey);
  --main-menu-link-color: var(--grey);
  --main-menu-link-color-hover: var(--dark-grey);
  --body-bg: var(--light-grey2);
}

/* Base element */
a, a:hover{
  text-decoration: none;
  color: inherit!important;
}

/* Element */
.btn-grey{background-color: var(--light-grey);color: black;}
.btn-grey:hover{border-color: var(--grey);}

.text-blue{color: var(--blue);}
.bg-blue{background-color: var(--blue);color: white;}

.text-success{color: var(--success)!important;}
.bg-success{background-color: var(--success)!important;color: white;}

.text-danger{color: var(--danger)!important;}
.bg-danger{background-color: var(--danger)!important;color: white;}

body{background-color: var(--body-bg);}

.form-control{
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
  background-color: transparent!important;
  border: 0!important;
  border-bottom: 1px solid var(--light-grey2)!important;
  border-radius: 0!important;
  color: dark!important;
  font-size: 16px!important;
  font-weight: 400!important;
  line-height: 22px;
  outline: none!important;
  padding: 0 0 4px!important;
  resize: none!important;
  width: 100%!important;
}
.form-control:focus {
  appearance: none!important;
}

.form-divider{
  background: var(--light-grey2);
  border: 0;
  display: block;
  font-size: 0;
  height: 1px;
  line-height: 0;
  margin: 0;
  min-height: 1px;
  overflow: hidden;
  width: 100%;
}

.form-group{
  background: white;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 15px;
  padding:10px;
}

.nice-select.open .list{
  max-height:250px;
  width:100%;
  overflow-y: scroll;
  overflow-x: hidden;
}


/* Menu */
.main-menu{
  background-color: var(--main-menu-bg);
}

.nav-link{
  color: var(--main-menu-link-color);
}
.nav-link:hover{
  color: var(--dark-grey);
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.main-logo{
  height:50px;
  width:50px;
  border-radius: 50%;
}

/* dashboard */
.dashboard_buttons:hover{
  transform: translateY(-0.25em);
  transition-duration: 500ms;
}



/* Card Sneakers */
.product-item-border {
  background-color: transparent;
  border: 1px solid #A8DADC;
}
.product-item {
  background-color: #F7F8F9;
  border-radius: 30px;
  padding: 30px 35px 41px;
  overflow: hidden;
  position: relative;
}
.product-item .product-thumb {
  border-radius: 30px;
  display: block;
  margin-bottom: 35px;
  overflow: hidden;
}
.product-item .product-thumb img {
  transition: all 0.5s ease 0s;
  width: 100%;
}
.product-item .badges {
  background-color: #FF5A5A;
  border-radius: 40px;
  color: #FFFFFF;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 13px;
  left: 29px;
  line-height: 1;
  padding: 4px 18px 8px;
  position: absolute;
  text-align: center;
  top: 31px;
}
.product-item .product-action {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 49px;
  justify-content: center;
  top: 50px;
}
.product-item .product-action .product-action-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 18px;
  height: 35px;
  line-height: 45px;
  margin: 3px 0;
  opacity: 0;
  text-align: center;
  transition: all 0.5s ease 0s;
  transition-delay: 150ms;
  width: 35px;
  transform: translate(0, -15px);
  -webkit-transform: translate(0, -15px);
  -moz-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  -o-transform: translate(0, -15px);
}
.product-item .product-action .product-action-btn.action-btn-cart {
  font-size: 17px;
}
.product-item .product-action .action-btn-cart {
  transition-delay: 200ms;
}
.product-item .product-action .product-action-btn.action-btn-compare {
  font-size: 16px;
}
.product-item .product-action .action-btn-compare {
  transition-delay: 250ms;
}
.product-item .product-info {
  padding-right: 55px;
  position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (max-width: 767px){
  .product-item .product-info .title {
    font-size: 16px;
  }
  .product-item .price {
    font-size: 16px;
  }
  .product-item .price .price-old {
    font-size: 13px;
  }
}
.product-item .product-info .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 9px;
    min-height:70px;
}
.product-item .product-info .title a {
  color: #1D3557;
}
.product-item .price {
    align-items: baseline;
    color: #1D3557;
    display: flex;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}
.product-item .price .price-old {
    font-size: 13px;
}

.product-item .price .price-old {
    color: #457B9D;
    font-size: 16px;
    font-weight: 500;
    margin-left: 11px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    -webkit-text-decoration-color: rgba(69, 123, 157, 0.35);
    text-decoration-color: rgba(69, 123, 157, 0.35);
}
.product-item:hover .product-thumb img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.product-item:hover .product-action .product-action-btn {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.product-item .info-btn-wishlist {
  background-color: #FF5A5A;
  border: none;
  border-radius: 50%;
  color: #FFFFFF;
  display: inline-block;
  font-size: 20px;
  height: 45px;
  line-height: 47px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 13px;
  width: 45px;
}

.product-item .info-btn-wishlist i {
  transition: all 0.8s ease 0s;
}