<%- include('../siteElements/header.ejs') %>
    <body>
        <%- include('../siteElements/menu.ejs') %>
        <div class="container form-container">
            <h1 class="mt-5 mb-5 text-grey"><b>Ajoute ta paire</b></h1>
            <form method="post" action="/sneaker  ">
                <div class="form-group row">
                    <label for="titre" class="col-sm-6 col-form-label">Titre*</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="titre" id="titre" placeholder="ex: Nike Air Force 1" value="Nike air force 1" required>
                    </div>
                    <div class="form-divider"></div>
                    <label for="description" class="col-sm-6 col-form-label">Décris ta paire*</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="description" rows="3" name="description">Ma description</textarea>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="sexe"  class="col-sm-6 col-form-label">Sexe</label>
                  <div class="col-sm-6">
                    <select class="form-control" id="sexe" name="sexe">
                      <option value=1 selected>Homme</option>
                      <option value=2>Femme</option>
                    </select>
                  </div>
                  <label for="marque"  class="col-sm-6 col-form-label">Marque</label>
                  <div class="col-sm-6">
                    <select class="form-control" id="marque" name="marque">
                      <option value="Nike" selected>Nike</option>
                      <option value="New Balance">New Balance</option>
                      <option value="Adidas">Adidas</option>
                    </select>
                  </div>
                  <label for="taille"  class="col-sm-6 col-form-label">Taille</label>
                  <div class="col-sm-6">
                    <select class="form-control" id="taille" name="taille">
                      <option value="38" selected>38</option>
                      <option value="39">39</option>
                      <option value="40">40</option>
                      <option value="41">41</option>
                      <option value="42">42</option>
                      <option value="42.5">42.5</option>
                      <option value="43">43</option>
                      <option value="43.5">43.5</option>
                      <option value="44">44</option>
                      <option value="44.5">44.5</option>
                      <option value="45">45</option>
                      <option value="45.5">45.5</option>
                      <option value="46">45</option>
                      <option value="47">47</option>
                      <option value="48">48</option>
                      <option value="49">49</option>
                    </select>
                  </div>
                  <label for="etat"  class="col-sm-6 col-form-label">Etat</label>
                  <div class="col-sm-6">
                    <select class="form-control" id="etat" name="etat">
                      <option value=1 selected>Neuf avec facture</option>
                      <option value=2>Neuf sans facture</option>
                      <option value=3>Très bon état</option>
                      <option value=4>Bon état</option>
                      <option value=5>Satisfaisant</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="prix" class="col-sm-6 col-form-label">Prix*</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="prix" placeholder="0,00€" name="prix" value="150" required>
                    </div>
                </div>
                <center><button class="btn btn-sm btn-success" type="submit">Valider</button></center>
              </form>
        </div>
    </body>
</html>