<%- include('../siteElements/header.ejs') %>
    <body>
        <%- include('../siteElements/menu.ejs') %>
        <div class="container">
            <h1 class="mt-5 mb-5 text-center"><b>Vos paires</b></h1>
            <div class="row justify-content-md-center">
                <% for(var i = 0; i < listSneakers.length; i++) { %>
                    <%- include('../elements/sneaker_card.ejs', {sneaker: listSneakers[i], showSellButton: true}) %>
                <% } %>      
            </div>
        </div>
    </body>
</html>

<script>
    $(document).ready(function(){
        $(".sell").click(function(){
            var sneaker_id = $(this).attr("data-sneaker-id");
            swal.fire({
                title: "Article vendu ?", 
                text: "Veuillez renseigner le prix de vente de cet article ci-dessous",
                input: "text",
                confirmButtonText: "Confirmer",
                showCloseButton: true
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                let Datas = new FormData();
                Datas.append("Sneaker_id",sneaker_id);
                Datas.append("Sneaker_Sell_price",result.value);
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url : '/sneaker/sold',
                        data:Datas,
                        success: function(){
                            swal.fire({icon: "success", text:"Vente réalisé avec succès !"})
                        },
                    });
                }
            });
        });
    });
</script>